.body{
    opacity: 6px;
}

.topnav{
    background-color: #333;
    overflow: hidden;
    height: auto;
    width: 100%;
    top: 0;
    position: fixed;
}

.topnav h1{
    text-decoration: none;
    color: white;
    font-size: 25px;
    margin-left: 10px;
    margin-top: -15px;
}

.logo{
    margin-left: 10px;
    margin-top: 10px;
}

.navlinks{
    font-size: 45px;
    display: flex;
    margin-top: -130px;
    float: right;
    margin-right: 70px;
}

.navlinks a{
    color: wheat;
    text-decoration: none;
    font-size: 35px;
    row-gap: 30px;
    padding:10px;
}

.navlinks a:hover{
    color: aqua;
    transition: 0.7s ease-in-out;
}

* {
    font-size: 1.5rem;
  }
  
  .input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e26d5c;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
    box-shadow: 0.25rem 0.25rem 0rem #f0b2a8;
  }
  
  input {
    margin: 0 0.5rem 0 0.5rem;
    width: 20px;
    border: none;
    outline: none;
    background: #e26d5c;
    color: white;
  }
  
  ::placeholder {
    color: #f0b2a8;
  }

  /**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************
***************************************DROPDOWN BUTTON*****************************************************
**************************************************************************************************************************/
 /* Dropdown Button */
 .dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 26px;
    border: none;
    margin-right: -0.08px;
    margin-top: 60px;
    margin-left: 35px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: fixed;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: relative;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    justify-content: space-evenly;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: wheat;
    padding: 12px 16px;
    text-decoration: none;
    display: table-row;
    font-size: 30px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: transparent;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: flex;
                                    flex-direction: row-reverse;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;} 


.image{
    margin-left: 100px;
    margin-top: 100px;
    opacity: 5px;
    z-index: 10;
    padding-left: 70px;
}

.paragraph h2{
    font-size: 45px;
    align-items: center;
    margin-left: 520px;
}

.paragraphb{
    font-size: 18px;
    margin-bottom: 30px;
    margin-right: 70px;
    margin-left: 70px;
    justify-content: space-evenly;
}

.footer{
    background-color: #333;
    display: flex;
    flex-direction: column;
    padding: 5rem 0;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 200px;
}

.align{
    width: fit-content;
}

.footer h4{
    color: white;
    font-size: 35px;
}

.footer p{
    color: white;
}

.sociallinks{
    flex-direction: row;
}

.sociallinks a{
    margin: 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 50px;
    color: wheat;
}

.sociallinks a:hover{
    color: aqua;
    transition:0.3s ease in;
}

.footer p{
    display: flex;
    flex-direction: column;
    margin: 20px;
    font-size: 20px;
}

.wrapper{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    max-width: 350px;
    max-height: 40px;
    width: 1000px;
    padding: 15px;
    display: flex;
    border-radius: 5px;
    margin-top: 30px;
    margin-left: 350px;
}

.wrapper .input {
    width: 70%;
    padding: 12px 18px;
    border: 0.5px solid wheat;
    border-radius: 2px;
    background: #333;
    font-size: 15px;
}

.searchbtn {
    background: #333;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    color: wheat;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

/*******************************************************************************************************
*****************************************Services***********************************************
*********************************************************************************************************/
.services_section{
    background: wheat;
    display: flex;
    flex-direction: initial;
    align-items: center;
    height: 700px;
}

.services_section1{
    background: wheat;
    display: flex;
    flex-direction: initial;
    align-items: center;
    height: 700px;
}
/*************************************cards************************************/

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
  }

  .card-image {
    grid-area: image;
  }
  .card-text {
    grid-area: text;
  }
  .card-stats {
    grid-area: stats; 
  }

  .card-image1 {
    grid-area: image;
    background: url("/images/IMG-20220219-WA0061.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }

  .card-image2 {
    grid-area: image;
    background: url("/images/IMG-20220219-WA0062.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }

  .card-image3 {
    grid-area: image;
    background: url("/images/IMG-20220219-WA0064.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
  }

  .card-text {
    grid-area: text;
    margin: 25px;
  }
  .card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
  }
  .card-text p {
    color: black;
    font-size:25px;
    font-weight: 300;
    justify-content: space-evenly;
  }
  .card-text h2 {
    margin-top:0px;
    font-size:28px;
    margin-left: 5px;
  }

  .card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card {
  transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
  }


  @media screen and (max-width: 820px){
    .services_section{
        flex-direction: column;
        margin-bottom: 1000px;
    }
}

@media screen and (max-width: 480px){
    .services_section{
        margin: 0;
        padding: 10%;
        width: 100%;
    }
}
